@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

$heading: 5vw;
$normalFontSize: 1vw;
$inactive: none;

@mixin flexCombo {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

#wrapper {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 0.2fr 2fr 0.2fr;
  grid-template-areas:
    "nav nav"
    "article article"
    "footer footer";
}

a {
  text-decoration: none;
}

.navbar {
  grid-area: nav;
  box-shadow: 0px 1px 10px -5px black;
  font-size: $normalFontSize;
  width: 100vw;
  height: 100%;
  .mobileNavUl {
    display: none;
  }
  .navbar__ul {
    display: flex;
    align-items: center;
    height: 100%;
    .navbar__list {
      display: flex;
      align-items: center;
      margin: 0 1.5vw;
      list-style-type: none;
      height: 100%;
      a {
        color: black;
      }
      &:hover {
        cursor: pointer;
        a {
          opacity: 0.6;
        }
      }
    }

    @mixin dropDown {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      box-shadow: 0px 5px 10px -5px black;
      background-color: white;
      top: 4.8vw;
    }

    .dropdown1 {
      @include dropDown;
      display: none;
      left: 5.2vw;
      width: 10vw;
      height: 10vw;
      &:hover {
        opacity: 1;
      }
      .dropdown1__list {
        @include flexCombo;
        width: 100%;
        height: 25%;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }

    .dropdown2 {
      @include dropDown;
      display: none;
      width: 8vw;
      height: 7vw;
      justify-content: space-evenly;
      &:hover {
        opacity: 1;
      }
      .dropdown2__list {
        @include flexCombo;
        width: 100%;
        height: 25%;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }

    // !Logo
    .navbar__logo img {
      width: 5vw;
    }

    // !Right Side Menu
    :nth-child(6) {
      margin-left: auto;
    }
    .navbar__cta {
      margin-right: 4vw;
      background: none;
      border: none;
      font-size: $normalFontSize;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    #registerButton {
      border: black solid 2px;
      border-radius: 10px;
      width: 8vw;
      height: 3vw;
      &:hover {
        background-color: rgb(241, 241, 241);
      }
    }
  }
}

.sideMenu {
  display: none;
}

.article {
  @include flexCombo;
  grid-area: article;
  padding: 0 10%;
  width: 100%;
  height: 100%;
  .articleContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
    h1 {
      font-size: $heading;
      width: 33vw;
    }
    p {
      line-height: 2vw;
      font-size: $normalFontSize;
      width: 27vw;
      text-align: justify;
    }
    button {
      width: 25%;
      height: 8%;
      font-weight: 700;
      font-size: $normalFontSize;
      background: black;
      color: white;
      border-radius: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .sponsor {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img {
        align-self: center;
        width: 6vw;
      }
    }
  }
  .hero {
    @include flexCombo;
    width: 100%;
    height: 100%;
    .heroImg {
      width: 70%;
      height: 85%;
    }
  }
}

.footer {
  @include flexCombo;
  grid-area: footer;
  width: 100%;
  height: 100%;
  p {
    font-size: $normalFontSize;
  }
}

@import "./mobileStyle";
